<!DOCTYPE HTML>

<html>
    <head>
        <title>title</title>
    </head>
	<body>
		<form action='/temp' method='post'>
			<input name='hi' value='1'>
			<input name='hi' value='2'>
            <input name='hi' value='3'>
            <button>go</button>
		</form>
	</body>
</html>